@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

.card{
     border-radius: 8px;
    cursor: pointer;
   
    margin-left:25px;
    margin-bottom: 10px;
  
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #686868;
    

}
.card-title {

    font-family: 'Nova Round', cursive;
    font-size: 1.5em;
}
a:link, a:visited{
    color:greenyellow
}
body{
    background-color: #303030;
}
.PageT
{
    font-family: 'Nova Round', cursive;
    font-size: 50;
    color:greenyellow
}
#imgIcon{

    width: 220px;
    height: auto;
}
#Satellites
{

    font-family: 'Nova Round', cursive;
    font-size: 50;
    color:greenyellow

}
.element{
    width: 25%;
    height: auto;
}